.search__input {
    width: 100%;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    padding: 0 208px 0 24px;
    font-size: 16px;
    line-height: 62px;
    color: #1A1B22;
    caret-color: #2F71E5;
    box-sizing: border-box;
}

.search__input::placeholder {
    color: #B6BCBF;
}

.search__input:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .search__input {
        line-height: 54px;
        padding: 0 194px 0 24px;
    }
}
