.results__heading {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .results__heading {
        font-size: 30px;
        line-height: 34px;
        max-width: 230px;
    }
}

@media screen and (max-width: 500px) {
    .card__heading {
        line-height: 28px;
    }
}