.tech__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    grid-gap: 41px;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .tech__list {
        grid-gap: 30px;
    }
}