.analytics__title_ref {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #B6BCBF;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    align-self: self-start;
}