.swiper__button-next {
    width: 40px;
    height: 40px;
    background-image: url('../../../images/slider-control-right.svg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 10;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .swiper__button-next {
        display: none;
    }
}
