.analytics__row-data {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 104px 1fr;
    align-items: end;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .analytics__row-data {
        grid-template-columns: 64px 1fr;
        margin-top: 24px;
    }
}

.analytics__row-data:first-of-type {
    margin-top: 8px;
}

@media screen and (max-width: 500px) {
    .analytics__row-data:first-of-type {
        margin-top: 16px;
    }
}