.swiper .swiper__pagination {
    text-align: center;
    transition: opacity .3s;
    transform: translateZ(0);
    z-index: 10;
    margin-top: 48px;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .swiper .swiper__pagination {
        margin-top: 32px;
    }
}

@media screen and (max-width: 500px) {
    .swiper .swiper__pagination {
        margin-top: 16px;
    }
}